html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.topo {
    display: flex;
    padding: 0px 30px;
    /*justify-content: center;*/
    align-items: center;
    /*background-color: #8b3b9b;*/
    background-image:
        linear-gradient(
            rgb(71, 12, 110),
            rgb(46, 7, 104)
        );
    color:azure;
    gap: 15px;
}

.categorias {
    background-color: #401249;
}

.categorias ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.categorias li {
    margin: 0;
}

.categorias a {
    display: block;
    color: #f4f4f4;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
}

.categorias a:hover {
    background-color: rgba(131,44,148,0.5);
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 15px;
}


.noticia-principal {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    border-left: 6px solid #401249;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.2s;
}
.noticia-principal:hover {
    transform: translateY(-5px);
}

.imagem-destaque {
    width: 100%;
    height: 300px;
    border-radius: 6px;
    margin-bottom: 15px;
    object-fit: cover;
}

.logo {
    width: 120px;
    object-fit: contain;
    margin-top: 10px;
}

.link-card {
    text-decoration: none;
    color: inherit;
    display: block;
}

.grid-noticias{
    display: flex;
    gap: 15px;
}

.card-noticia {
    flex: 1;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.2s;
}

.card-noticia:hover {
    transform: translateY(-5px);
}

.card-imagem {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}

.materia-completa {
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.materia-completa img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    border-style: 6px;
    margin: 15px 0;
}

.data-publicacao {
    color: #777;
    font-size: 12px;
}

.voltar-topo {
    display: inline-block;
    margin-top: 12px;
    color: #d54400;
    font-weight: bold;
    text-decoration: none;
}

.rodape {
    text-align: center;
    padding: 15px;
    background-color: rgb(243, 220, 245);
    font-size: 13px;
    margin-top: 30px;
}

.divisor {
    margin: 40px 0;
    border: 0;
    border-top: 1px dotted #401249;
}

.btn-tema {
    margin-left: auto;
    background: rgba(255,255,255,0.15);
    color: #ffffff;
    border: 1px solid rgba(255,255,255,0.3);
    padding: 8px 16px;
    font-size: 15px;
    border-radius: 30px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    backdrop-filter: blur(4px);
    transition: all 0.5s ease;
}
.btn-tema:hover {
    background: rgba(255,255,255,0.30);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transform: translateY(-2px);
}


body.mode-dark {
    background-color: #150119;
    color: #fff;
}

body.mode-dark .noticia-principal {
    background-color: #310539;
    box-shadow: 0 2px 5px rgba(223, 0, 219, 0.4);
}

body.mode-dark .card-noticia{
    background-color: #310539;
    box-shadow: 0 2px 5px rgba(223, 0, 219, 0.6);
}

body.mode-dark .materia-completa {
    background-color: #310539;
    box-shadow: 0 2px 5px rgba(223, 0, 219, 0.6);
}


